<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{pending}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let filter of filters">
      <a
        [class.selected]="filter === (selected | async)"
        (click)="onSetFilter(filter)"
        >{{ filter | titlecase }}</a
      >
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button (click)="onClearCompleted()" *ngIf="areCompleted" class="clear-completed">Clear completed</button>
</footer>
